$font-family-primary: 'Nunito-Regular', sans-serif;
$font-family-secondary: 'Nunito-SemiBold', sans-serif;
$font-family-bold: 'Nunito-Bold', sans-serif;

$white-color: #ffffff;
$white-light-color: #F8F8F8;
$blue-color: #3D81A8;
$gray-light-color: #878889;
$gray-color: #5B5E5F;
$black-color: #1E1C1C;

$xss-screen: 320px;
$xs-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

$font-size-xs: 16px;
$font-size-sm: 21px;
$font-size-md: 36px;
$font-size-lg: 50px;